<div id="<%= dom_id court_type %>">
  <p>
    <strong>Name:</strong>
    <%= court_type.name %>
  </p>

  <p>
    <strong>Day price:</strong>
    <%= court_type.day_price %>
  </p>

  <p>
    <strong>Night price:</strong>
    <%= court_type.night_price %>
  </p>

</div>
