<h1>Editing court type</h1>

<%= render "form", court_type: @court_type %>

<br>

<div>
  <%= link_to "Show this court type", @court_type %> |
  <%= link_to "Back to court types", court_types_path %>
</div>
