<p style="color: green"><%= notice %></p>
<h1>Editing scheduler</h1>

<%= render "form", scheduler: @scheduler %>

<br>

<div>
  <%= link_to "Show this scheduler", @scheduler %> |
  <%= link_to "Back to schedulers", schedulers_path %>
</div>
