<p style="color: green"><%= notice %></p>
<%= flash[:errors]%>
<h1>New scheduler</h1>

<%= render "form", scheduler: @scheduler %>

<br>

<div>
  <%= link_to "Back to schedulers", schedulers_path %>
</div>
