<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quadras para Aluguel</h1>
  </div>

  <div class="row">



    <!-- Default Card Example -->
    
    <% @courts.each do |court|%>
    <div class="col">
      <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary"><%= court.name %> - <%= I18n.l(Date.today) %></h6>
          <div class="dropdown no-arrow">
            <%= link_to new_scheduler_path, class:"btn btn-success btn-circle btn-sm" do %>
            <i class="fa fa-plus"></i>
            <% end %></th>
            
          </div>
        </div>
        <div class="card-body">

          <table class="table">
            <tbody>
              <% @hours.each do |hour| %>
                <tr>
                <th scope="row"><%= hour.hour %></th>
                  <% @schedulers.each do |scheduler| %>
                  
                      <% if scheduler.court.id == court.id && scheduler.date == Date.today  && hour.hour == scheduler.hour.hour %>

                          <td>Marcado</td> 
                      <%else%>
                          <td class="bg-primary text-white ">Vazio</td>
                        
                      <%end%>                  

                  <% end %>
                  </tr>
              <% end %>
              
            </tbody>
          </table>
        </div>
      </div>
      


    </div>
    
    <% end %>









  </div>

</div>